global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']
        labels:
          type: 'infrastructure'

  - job_name: 'spring-boot-app'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: [ 'backend:8080' ]
        labels:
          service: 'backend-api'

  - job_name: 'postgres'
    static_configs:
      - targets: [ 'postgres-exporter:9187' ]

  - job_name: 'redis'
    static_configs:
      - targets: [ 'redis-exporter:9121' ]