spring:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: false

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD:}
      ssl:
        enabled: false
      timeout: 3000
      lettuce:
        pool:
          max-active: 5
          max-idle: 3
          min-idle: 1

logging:
  level:
    root: INFO
    kr.inventory: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: OFF
    org.springframework.boot.autoconfigure: INFO
    jdk.internal.httpclient: INFO

cors:
  allowed-origins:
    - http://localhost:5173
    - http://localhost:3000