spring:
  application:
    name: finalproject-be
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}

server:
  port: ${PORT:8080}
  forward-headers-strategy: framework

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  endpoint:
    health:
      probes:
        enabled: true
      show-details: never
    prometheus:
      enabled: true
      health:
        show-details: always
  metrics:
    tags:
      application: ${spring.application.name}

springdoc:
  swagger-ui:
    url: /v3/api-docs