spring:
  datasource:
    hikari:
      maximum-pool-size: 5
      minimum-idle: 2
      connection-timeout: 3000
      idle-timeout: 600000
      max-lifetime: 1800000
      leak-detection-threshold: 2000

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: false
        default_batch_fetch_size: 100

logging:
  level:
    root: INFO
    kr.inventory: INFO
    org.hibernate.SQL: WARN

cors:
  allowed-origins: >
    http://localhost:5173,
    http://localhost:3000,
    https://inventorykitchen.cloud,
    https://www.inventorykitchen.cloud